3
    <img class="logo" src="../../assets/img/logo.png" alt="Logo" /><br />
    <div class="image-container">
      <img
        class="Home-Display-image"
        src="../../assets/img/home.jpg"
        alt="home"
      />
      <div class="overlay">
        <h1 style="font-size: 3rem; font-family: Arial, sans-serif;font-weight: bold;">Improve Your Skills on Your Own</h1>
        <h2 style="font-size: 3rem; font-family: Arial, sans-serif;font-weight: bold;">To Prepare for a Better Future</h2>
        
        
        <button class="Register">REGISTER NOW</button>
      </div>
    </div>
