
  <section class="courses-section">
    <div class="container">
        <h1>Discover Our Courses</h1>
        <button class="view-more-btn">View More</button>
      </div>
      
    <div class="courses-container">
      <div class="course-card">
        <img src="../../assets/img/springboot.png" alt="Spring Boot and Angular">
        <h2>Spring Boot / Angular</h2><br>
        <p>350 DT/ Month</p>
      </div>
      <div class="course-card">
        <img src="../../assets/img/nodejs.png" alt="Node JS and React">
        <h2>Node JS / React</h2><br>
        <p>350 DT/ Month</p>
      </div>
      <div class="course-card">
        <img src="../../assets/img/flutter.png" alt="Flutter and Firebase">
        <h2>Flutter / Firebase</h2><br>
        <p>350 DT/ Month</p>
      </div>
      <div class="course-card">
        <img src="../../assets/img/bi.jpeg" alt="Business Intelligence">
        <h2>Business Intelligence</h2><br>
        <p>350 DT/ Month</p>
      </div>
      <div class="course-card">
        <img src="../../assets/img/ai.jpeg" alt="Artificial Intelligence">
        <h2>Artificial Intelligence</h2><br>
        <p>350 DT/ Month</p>
      </div>
      <div class="course-card">
        <img src="../../assets/img/devops.png" alt="DevOps">
        <h2>Devops</h2>
        <p>350 DT/ Month</p>
      </div>
    </div>
  </section>

